<div *ngIf="view === ViewEnum.CHOOSE">
  <div class="col pt-3">
    <div class="d-grid gap-2">
      <button mat-raised-button class="button-large" color="primary" (click)="view = ViewEnum.CREATE">
        {{'button.createChatRoom' | translate}}
      </button>
    </div>
  </div>

  <div class="col pt-3">
    <div class="d-grid gap-2">
      <button mat-raised-button class="button-large" color="primary" (click)="view = ViewEnum.JOIN">
        {{'button.joinChatRoom' | translate}}
      </button>
    </div>
  </div>
</div>

<div class="pb-3" *ngIf="view === ViewEnum.CREATE || view === ViewEnum.JOIN">
  <a class="icon-link" [routerLink]="" role="button" (click)="view = ViewEnum.CHOOSE">
    <mat-icon class="icon-sm" aria-hidden="false" fontIcon="chevron_left"></mat-icon>
    {{'button.back' | translate}}
  </a>
</div>

<div *ngIf="view === ViewEnum.JOIN">
  <div class="row">
    <div class="col">
      <mat-form-field class="w-100">
        <mat-label>{{'dashboard.uuid' | translate}}*</mat-label>
        <input matInput
               type="text"
               name="uuid"
               id="join-chat-room-uuid"
               [(ngModel)]="uuid"
        />
      </mat-form-field>
    </div>
  </div>
</div>

<div *ngIf="view === ViewEnum.CREATE || view === ViewEnum.JOIN">
  <div class="row">
    <div class="col">
      <mat-form-field class="w-100">
        <mat-label>{{'dashboard.password' | translate}}*</mat-label>
        <input matInput
               type="password"
               name="password"
               id="create"
               [(ngModel)]="password"
        />
      </mat-form-field>
    </div>
  </div>
</div>

<div *ngIf="view === ViewEnum.CREATE">
  <div class="col">
    <div class="d-grid gap-2">
      <button mat-raised-button class="button-large" color="primary" (click)="createChatRoom()">
        {{'button.create' | translate}}
      </button>
    </div>
  </div>
</div>

<div *ngIf="view === ViewEnum.JOIN">
  <div class="col">
    <div class="d-grid gap-2">
      <button mat-raised-button class="button-large" color="primary" (click)="joinChatRoom()">
        {{'button.join' | translate}}
      </button>
    </div>
  </div>
</div>
