<div class="h-80">
  <ng-template #connecting>
    <div class="w-100 d-flex justify-content-center">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>

  <div class="row pt-5" *ngIf="connected; else connecting">
    <div class="col">
      <div class="row py-1" *ngFor="let message of receivedMessages">
        <div class="row">
          <div class="col-2"></div>
          <div *ngIf="message.sentMessage" class="col-10 d-flex justify-content-end">
            <div class="d-inline-block message-bubble-sent">
              {{ message.body }}
            </div>
          </div>
        </div>
        <div class="row">
          <div *ngIf="!message.sentMessage" class="col-10 d-flex">
            <div class="d-inline-block message-bubble-received">
              {{ message.body }}
            </div>
          </div>
          <div class="col-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fixed-send-message w-100 row container">
  <div class="col-10 col-xl-11 pb-0 pb-lg-5">
    <mat-form-field appearance="outline" class="w-100 form-field-density-2">
      <input matInput [placeholder]="'chatRoom.typeMessage' | translate" type="text" name="message" id="send-message" [(ngModel)]="message" />
    </mat-form-field>
  </div>
  <div class="col-2 col-xl-1 d-lg-none send-icon">
    <a [routerLink]="" role="button" (click)="sendMessage()">
      <mat-icon class="icon-xl" aria-hidden="false" fontIcon="send"></mat-icon>
    </a>
  </div>
  <div class="col-2 col-xl-1 d-none d-lg-block">
    <button mat-raised-button color="primary" class="w-100 py-4" (click)="sendMessage()" [disabled]="!connected">{{ 'chatRoom.sendMessage' | translate }}</button>
  </div>
</div>
