@import "src/assets/style/variables";

.fixed-send-message {
  bottom: 0;
  position: fixed;
  z-index: 1030;
  background-color: white;
  -webkit-backface-visibility: hidden;
}

@mixin message-bubble {
  min-height: 40px;
  border-radius: 30px;
  padding: 10px 20px;
  word-break: break-word;
}

.message-bubble-sent {
  background-color: $primary-color;
  color: white;
  @include message-bubble;
}

.message-bubble-received {
  background-color: $gray-200;
  color: black;
  @include message-bubble;
}

.send-icon {
  padding-top: 12px;
  color: $primary-color;
}

.message-time {
  color: $gray-500;
  font: 14px 'roboto';
  font-weight: 450;
  line-height: 21px;
}

#input-box-padding {
  padding-bottom: 6rem !important;
}
